@page "/need-confirm-email-register.html"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation notification";
}

<h1>@ViewData["Title"]</h1>
<p>
    You need access into email to know how to confirm account.
</p>
